<h2>会員一覧</h2>
<div class="container">
  <div class="row justify-content-center">
    <table class="table table-borderd border border-dark" style="width: 60%">
      <thead>
        <tr class="table-secondary">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.first_name %> <%= customer.last_name %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_unsubscribed == false %>
            <div class="text-success">有効</div>
          <% else %>
            <div class="text-secondary">退会</div>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>