<h2>会員一覧</h2>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.first_name %> <%= customer.last_name %></td>
    <td><%= customer.email %></td>
    <td>
      <% if customer.is_unsubscribed == false %>
        有効
      <% else %>
        退会
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>