<%- if controller_name != 'sessions' %>
  <h3>既に登録済みの方</h3>
  <p class="col-sm-10"><%= link_to "こちら", new_session_path(resource_name) %>からログインしてください</p><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
　　<h4>会員登録がお済みでない方</h4>
  <p class="col-sm-10"><%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください</p><br />
<% end %>


