<h2>商品一覧</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>税抜価格</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.get_item_image(100,100) %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>