<h2>商品一覧</h2>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
    <div class-"col-md-4">
      <ul class="card">
        <p><%= image_tag item.get_item_image(100,100) %></p>
        <div class="card-body text-center">
          <h4 class="card-title"><%= item.name %></h4>
          <h4 class="card-text">￥<%= item.price %></h4>
        </div>
      </ul>
    </div>
    <% end %>
  </div>
</div>